@model MyBudget.Models.Deposit

@{
    ViewData["Title"] = "Edit Account";
}

<h1>Edit Account</h1>

<form asp-action="Edit">
    <input type="hidden" asp-for="DepositID" />
    <input type="hidden" asp-for="Currency" />
    <div class="form-group">
        <label asp-for="DepositName" class="control-label"></label>
        <input asp-for="DepositName" class="form-control" />
        <span asp-validation-for="DepositName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
