<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyBudget</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/darkmode.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/variables.css" asp-append-version="true" />

</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="border-end bg-dark" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-primary text-white">MyBudget</div>
            <div class="list-group list-group-flush">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="list-group-item list-group-item-action list-group-item-dark text-white p-3">Home</a>
                <a asp-area="" asp-controller="Income" asp-action="Index" class="list-group-item list-group-item-action list-group-item-dark text-white p-3">Income</a>
                <a asp-area="" asp-controller="Expenses" asp-action="Index" class="list-group-item list-group-item-action list-group-item-dark text-white p-3">Expenses</a>
                <a asp-area="" asp-controller="Deposits" asp-action="Index" class="list-group-item list-group-item-action list-group-item-dark text-white p-3">Accounts</a>
                <a asp-area="" asp-controller="Metals" asp-action="Index" class="list-group-item list-group-item-action list-group-item-dark text-white p-3">Precious Metals</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <footer class="footer mt-auto">
        <div class="container">
            &copy; 2024 - MyBudget - Wiktor Pacewicz
        </div>
    </footer>

    <!-- Bootstrap core JS-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
