@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<div class="row">
    <div class="col-md-6">
        <h3>Account Balances</h3>
        <img src="~/Content/Images/account-balances.png" alt="Account Balances Chart" />
    </div>
    <div class="col-md-6">
        <h3>Savings Trends</h3>
        <img src="~/Content/Images/savings-trends.png" alt="Savings Trends Chart" />
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Income vs Expenses</h3>
        <img src="~/Content/Images/income-expenses.png" alt="Income vs Expenses Chart" />
    </div>
    <div class="col-md-6">
        <h3>Precious Metals Overview</h3>
        <img src="~/Content/Images/metals-overview.png" alt="Precious Metals Overview" />
    </div>
</div>
