/* Główne tło i kolory */
body {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Sidebar */
#sidebar-wrapper {
    background-color: var(--sidebar-bg-color);
}

.sidebar-heading {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
}

.list-group-item {
    background-color: var(--sidebar-bg-color);
    color: var(--sidebar-text-color);
}

/* Tabele */
.table th, .table td {
    border-color: var(--sidebar-text-color);
    color: var(--item-text-color);
}

/* Nagłówek tytułu dla zakładki Deposits */
.deposit-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--text-color);
    text-align: center;
}

/* Przyciski do tworzenia nowego depozytu */
.create-deposit {
    margin-bottom: 20px;
    text-align: center;
}

.create-btn {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

    .create-btn:hover {
        background-color: var(--item-hover-bg-color);
    }

/* Layout kart depozytów */
.deposit-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* Dynamiczny layout w zależności od szerokości ekranu */
    gap: 20px;
}

.deposit-card {
    background-color: var(--sidebar-bg-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
}

    .deposit-card:hover {
        transform: scale(1.05);
        background-color: var(--item-hover-bg-color);
    }

.deposit-name {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--header-text-color);
    margin-bottom: 10px;
}

.deposit-balance {
    font-size: 1.2rem;
    color: var(--item-text-color);
    margin-bottom: 15px;
}

/* Przyciski akcji (Edycja, Usuwanie itd.) */
.actions {
    display: flex;
    justify-content: space-between;
}

.action-link {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.3s;
}

    .action-link:hover {
        color: var(--header-text-color);
    }

.delete-link {
    color: red;
}

/* Styl formularza edycji */
.edit-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--text-color);
    text-align: center;
}

.edit-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--sidebar-bg-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-label {
    color: var(--header-text-color);
    display: block;
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid var(--item-text-color);
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--text-color);
    margin-bottom: 10px;
    transition: border-color 0.3s;
}

    .form-input:focus {
        border-color: var(--link-color);
        outline: none;
    }

.validation-message {
    color: var(--danger-color);
    font-size: 0.9rem;
    margin-top: 5px;
}

.save-btn {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
    display: block;
    width: 100%;
}

    .save-btn:hover {
        background-color: var(--item-hover-bg-color);
    }

/* Widok Delete */
.delete-title, .details-title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 20px;
}

.delete-confirm {
    font-size: 1.5rem;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 20px;
}

/* Karty detali */
.details-card, .delete-card {
    background-color: var(--sidebar-bg-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto 20px auto;
}

.details-item, .delete-item {
    margin-bottom: 20px;
}

.details-label, .delete-label {
    font-size: 1.2rem;
    color: var(--header-text-color);
    margin-bottom: 5px;
}

.details-value, .delete-value {
    font-size: 1.1rem;
    color: var(--item-text-color);
}

.details-actions, .delete-form {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Stylizacja dla układu dashboardu */
.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /* Odstęp między kafelkami */
    margin-top: 30px;
}

/* Styl kafelków w dashboardzie */
.dashboard-card {
    background-color: var(--sidebar-bg-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s, background-color 0.3s;
}

    .dashboard-card:hover {
        background-color: var(--item-hover-bg-color);
        transform: scale(1.05);
    }

/* Styl dla streszczenia depozytów */
.dashboard-deposit-card {
    background-color: var(--sidebar-bg-color);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
    margin-bottom: 20px;
}

    .dashboard-deposit-card h4 {
        color: var(--header-text-color);
        margin-bottom: 5px;
    }

    .dashboard-deposit-card p {
        color: var(--text-color);
        margin-bottom: 0;
    }

    .dashboard-deposit-card:hover {
        background-color: var(--item-hover-bg-color);
        transform: scale(1.05);
    }

/* Stylizacja stopki */
footer.footer {
    background-color: var(--sidebar-bg-color);
    color: var(--text-color);
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
}

    footer.footer a {
        color: var(--link-color);
        text-decoration: none;
    }

        footer.footer a:hover {
            color: var(--header-text-color);
            text-decoration: underline;
        }

    footer.footer.mt-auto {
        margin-top: auto;
    }

/* Na mniejszych ekranach (smartfony) */
@media (max-width: 768px) {
    .dashboard-grid {
        grid-template-columns: 1fr; /* Jedna kolumna dla wszystkich sekcji na mniejszych ekranach */
    }

    .dashboard-card {
        height: auto; /* Zmieniamy wysokość na automatyczną na mniejszych ekranach */
    }
}

/* Główne przyciski akcji */
.action-btn {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    font-weight: bold;
    display: inline-block;
    margin: 5px;
    text-align: center;
}

    .action-btn:hover {
        background-color: var(--item-hover-bg-color);
        transform: translateY(-2px); /* Efekt uniesienia */
    }

/* Przycisk edycji */
.edit-btn {
    background-color: #007bff; /* Niebieski dla edycji */
}

    .edit-btn:hover {
        background-color: #0056b3;
    }

/* Przycisk aktualizacji stanu konta */
.update-btn {
    background-color: #28a745; /* Zielony dla aktualizacji */
}

    .update-btn:hover {
        background-color: #218838;
    }

/* Przycisk szczegółów */
.details-btn {
    background-color: #17a2b8; /* Jasnoniebieski dla szczegółów */
}

    .details-btn:hover {
        background-color: #117a8b;
    }

/* Przycisk usunięcia */
.delete-btn {
    background-color: #dc3545; /* Czerwony dla usunięcia */
}

    .delete-btn:hover {
        background-color: #c82333;
    }

/* Przycisk ładowania historii */
.load-history-btn {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 10px;
}

    .load-history-btn:hover {
        background-color: var(--item-hover-bg-color);
    }

.history-section {
    margin-top: 10px;
}

/* Stylizacja tabeli historii */
.history-table {
    margin-top: 20px;
    width: 100%;
}

.table th, .table td {
    border-color: var(--sidebar-text-color);
    color: var(--text-color);
    text-align: center;
    padding: 10px;
}

/* Wyróżnienie wierszy historii dla pozytywnych i negatywnych rekordów */
.positive-record {
    background-color: rgba(40, 167, 69, 0.1); /* Jasnozielone tło dla pozytywnych wartości */
    color: #28a745; /* Zielony tekst */
}

.negative-record {
    background-color: rgba(220, 53, 69, 0.1); /* Jasnoczerwone tło dla negatywnych wartości */
    color: #dc3545; /* Czerwony tekst */
}
