/* Sidebar */
#sidebar-wrapper {
    width: 250px; /* Zwiêksza szerokoœæ sidebaru */
    min-height: 100vh;
}

#page-content-wrapper {
    width: calc(100% - 250px); /* Dostosowuje szerokoœæ treœci do szerokoœci sidebaru */
    padding: 20px;
}

/* Wyœrodkowanie tekstu */
.container-fluid, .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Stylizacja tabel */
.table {
    width: 100%; /* Upewnij siê, ¿e tabela rozci¹ga siê na pe³n¹ szerokoœæ */
    margin-top: 20px; /* Dodaj odstêp od góry */
}

    .table th, .table td {
        text-align: center; /* Wyœrodkowanie tekstu w komórkach tabeli */
    }

/* Dodanie paddingu do sidebaru i treœci */
.sidebar-heading, .list-group-item {
    padding: 15px; /* Dodanie paddingu dla lepszej przestrzeni */
}

.list-group-item {
    font-size: 16px; /* Zwiêksza rozmiar tekstu */
}
